<html lang="en">
    <%- include('partialss/head.ejs')%>
    <body>
       
        <%- include('partialss/nav.ejs')%>

        <div class="not-found content">
            OPPS, pagee not found :)
            
        </div>

        <%- include('partialss/footer.ejs')%>

    </body>
</html>
