<html lang="en">
    <%- include('partialss/head.ejs')%>
    <body>
       
        <%- include('partialss/nav.ejs')%>

        <div class="about content">
            <h2>About us</h2> 
            <p>You are welcome,this is my blog</p>
            <p>feel free to explore everything you see</p>
            <p>i dont know what else to say, as you were.</p> 
            
        </div>

        <%- include('partialss/footer.ejs')%>

    </body>
</html>
